.sessao-conhecimento {
    display: flex;

    justify-content: space-between;

    margin-top: 25px;

    padding: 25px;

    background: rgba( 110, 110, 110, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sessao-conhecimento-conteudo {
    width: 550px;
}

.conhecimento-conteudo-titulo {
    margin-bottom: 20px;

    margin: 15px;

    font-size: 2.5rem;
    margin-bottom: 20px;

    color: #F2F2F2;
}

.conhecimento-conteudo-paragrafo {
    margin: 16px;

    font-size: 1.4rem;

    text-align: justify;

    line-height: 2rem;
}

.sessao-conhecimento-card {
    width: 550px;

    display: flex;
    justify-content: space-between;
}

.conhecimento-card {
    display: flex;
    justify-content: space-around;

    margin-bottom: 33px;

    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.item-imagem {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 4px;
}

.conhecimento-card-item {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d ;
}

.conhecimento-card:hover .conhecimento-card-item {
    transform: rotateY(180deg);
}

.card-item-imagem, .card-item-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-item-imagem {
    
    color: #000000;
}

.card-item-conteudo {
    background-color: #000000;
    color: #F2F2F2;
    transform: rotateY(180deg);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.card-item-conteudo h4 {
    font-size: 27px;
    font-weight: bold;
    color: #FFFF00;
}

.card-item-conteudo p:nth-child(2) {
    font-size: 23px;
}

.card-item-conteudo p:nth-child(3) {
    font-size: 20px;
    font-style: italic;
}
