.sessao-quemSou {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    background: rgba( 110, 110, 110, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin-top: 25px;

    padding: 25px;
}

.sessao-quemSou-imagem {
    width: 200px;
}

.quemSou-imagem-item {
    width: 100%;
}

.sessao-quemSou-conteudo {
    width: 900px;
}

.quemSou-titulo {
    font-size: 30px;
    margin-bottom: 20px;
}

.quemSou-paragrafo {
    font-size: 18px;

    text-align: justify;
}

