@media screen and (max-width: 480px ) {
    body, main, footer  {
        max-width: 480px;
    }
    
    .cabecalho {
        flex-direction: column;
        gap: 25px;
        width: 480px;
    }

    .cabecalho-menu {
        align-items: center;
        justify-content: center;
    }

    .sessao-principal {
        flex-direction: column-reverse;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter:none;
        border-radius: none;
    }
      
    .sessao-principal-conteudo {
        width: 480px;
        text-align: center;
    }
    
    .principal-conteudo-titulo {
        margin: 0 auto;
        width: 380px;
    }   

    .bnt-contato {
        width: 80%;
    }
    
    .download-button {
        margin-bottom: 35px;
    }   

    .sessao-principal-imagem {
        width: 480px;
    }

    .principal-imagem-item {
        width: 100%;
    }

    .sessao-quemSou {
        flex-direction: column;
        margin: 25px;
    } 
    
    .sessao-quemSou-imagem {
        display: none;
    }
    
    .quemSou-titulo {
        text-align: center;
    }


    .sessao-projeto-container {
        flex-direction: column;
    }

    .sessao-conhecimento {
        flex-direction: column;
    }

    .sessao-conhecimento-card {
        display: none;
    }
}