

body {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(156deg, rgba(2,0,36,1) 0%, rgba(110,110,110,1) 51%);
}

main {
    display: flex;
    flex-direction: column;
}

span {
    color: #F2F2F2;
}